/* ==========================================================================
   MINIMAL CSS RESET
   ========================================================================== */

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html,
body,
h1, h2, h3, h4, h5, h6,
p, blockquote,
dl, dd, dt, li,
form, fieldset, legend,
figure,
table, th, td, caption,
hr {
  margin: 0;
  padding: 0;
}

ul, ol {
  margin: 0;
}

table {
  width: 100%;
  display: table;
  border-collapse: collapse;
  border-spacing: 0;
}

table, th, td {
  border: none;
}

th, td {
  padding: 1rem 0;
}

thead {
  text-align: left;
}

button {
  border: none;
  background-image: none;
  background-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  padding: 0;
  cursor: pointer;
  font-family: $body-font;
}

button:focus {
  outline:none;
}

img {
  display: block;
  max-width: 100%;
}

/* ==========================================================================
   base elements
   ========================================================================== */

nav > ul {
  display: flex;
  list-style: none;
  padding: 0;
}

nav li + li {
  margin-left: 3rem;
}


/* ==========================================================================
   lists
   ========================================================================== */

.u-listUnstyled,
.u-listInline {
  padding-left: 0;
  list-style: none;
}

.u-listUnstyled li + li {
  margin-top: .5rem;
}

.u-listInline li {
  display: inline;
}

.u-listInline li + li {
  margin-left: .25rem;
}

/* ==========================================================================
   BASE LAYOUT
   ========================================================================== */

html {
  -webkit-text-size-adjust: 100%;
  font-size: 15px;
  line-height: 1.6;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-family: "Work Sans";
  color: #353535;
}

html, body, main {
  height: 100%;
}


a {
  color: #4688f1;
}


body {
  padding: 2rem;
  background: #fff;
}

.Header {
  display: flex;
  justify-content: space-between;
  /*position: fixed;
  width: calc(100vw - 4rem);*/
  padding: 1rem;
  font-size: 1.25rem;
  align-items: center;
}

.Header a {
  color: currentColor;
  text-decoration: none;
}

.Header__Logo {
  height: auto;
  width: 250px;
}

.Hero {
  height: 72%;
  position: relative;
  max-width: 1320px;
  margin: 0 auto;
}


.Hero__Slider {
  background-image: url(http://placekitten.com/1200/640);
  background-image: url(./i/all-data.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center right;
  height: 100%;
}

.Hero__Content {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: flex-end;
  color: #4688f1;
  flex-direction: column;
  padding: 7rem 3rem;
  max-width: 66.6667%;
}

.Hero__Content > * + * {
  margin-top: 2rem;
}

.H1--hero {
  font-size: 3.5rem;
  line-height: 1;
  font-weight: 500;
}

.Hero__Content__Callout {
  border: 4px solid currentColor;
  background: #fff;
  padding: 1.5rem;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 2;
}

.Button {
  background: #4688f1;
  padding: .75rem 1.55rem;
  font-weight: 400;
  letter-spacing: 0.5px;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.25rem;
  border: 2px solid transparent;
}

.Button + .Button {
  margin-left: 0.5rem;
}

.Button--border {
    background: #fff;
    color: #4688f1;
    border: 2px solid #4688f1;
}


.Content {
  max-width: 1320px;
  margin: 0 auto;
  font-size: 1.25rem;
  padding: 0 15%;
  line-height: 2;
  margin-top: 3rem;
}

.Content__Section > * + * {
  margin-top: 1rem;
}

.Footer {
  padding: 1rem;
  font-size: 1.25rem;
  display: flex;
  justify-content: center;
}
